.MarginSelectionControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.MarginSelectionControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid #AA6817;
    cursor: pointer;
    outline: none;
}


.MarginSelectionControl button:disabled {
    background-color: #AC9980;
    border: 1px solid #7E7365;
    color: #ccc;
    cursor: default;
}

.MarginSelectionControl button:hover:disabled {
    background-color: #AC9980;
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.MarginSelectionControl .Less {
    background-color: #D39952;
    color: white;
}

.MarginSelectionControl .More {
    background-color: #8F5E1E;
    color: white;
}

.MarginSelectionControl .Less:hover, .MarginSelectionControl .Less:active {
    background-color: #DAA972;
    color: white;
}

.MarginSelectionControl .More:hover,.MarginSelectionControl .More:active {
    background-color: #99703F;
    color: white;
}