.RugbyMatchPredictionResultInput{
    width : 60%;
    margin : 16px auto;
    border : 1px solid #eee;
    box-shadow : 0 2px 3px #ccc;
    padding : 16px;
    text-align : center;
    display: flex;
}

.teamSelectionControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.loginForm {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    height: 100%;
}

@media (min-width : 500px){
    .RugbyMatchPredictionResultInput {
        width : 450px;
        display: flex;
    }
}


.Button {
    btn: true;
    btn-lg: true;
    btn-block: true;
}