.ExactScoreMatch {
    background-color: greenyellow;
    border: double;
}

.CorrectWinnerOrDraw {
    background-color: yellow;
    border: double;
}

.IncorrectWinner {
    background-color : orangered;
    border: double;
}

.UserPredResultHistory table {
     border: 1px solid black;
     width: 100%;
     align: left
 }

.UserPredResultHistory th {
    text-align: left;
}